@theme {
  --typography-display-lg-font-size: 3.5rem;
  --typography-display-lg-line-height: 1.25;
  --typography-display-lg-font-weight: 700;
  --typography-display-lg-font-family: Newsreader;
  --typography-headline-md-font-size: 1.75rem;
  --typography-headline-md-line-height: 1.375;
  --typography-headline-md-font-weight: 700;
  --typography-headline-md-font-family: Newsreader;
  --typography-headline-sm-font-size: 1.25rem;
  --typography-headline-sm-line-height: 1.375;
  --typography-headline-sm-font-weight: 700;
  --typography-headline-sm-font-family: Newsreader;
  --typography-body-lg-font-size: 1rem;
  --typography-body-lg-line-height: 1.5;
  --typography-body-lg-font-weight: 400;
  --typography-body-lg-font-family: Public Sans;
  --typography-body-md-font-size: 0.875rem;
  --typography-body-md-line-height: 1.5;
  --typography-body-md-font-weight: 400;
  --typography-body-md-font-family: Public Sans;
  --typography-body-sm-font-size: 0.75rem;
  --typography-body-sm-line-height: 1.5;
  --typography-body-sm-font-weight: 400;
  --typography-body-sm-font-family: Public Sans;
  --typography-label-md-font-size: 0.875rem;
  --typography-label-md-line-height: 1.5;
  --typography-label-md-font-weight: 500;
  --typography-label-md-font-family: Public Sans;
  --typography-caption-font-size: 0.75rem;
  --typography-caption-line-height: 1.5;
  --typography-caption-font-weight: 400;
  --typography-caption-font-family: Public Sans;
}
