node_modules/*
dist/*
*.css
components/*/*.js
!*.src.css
!*.src.js
package-lock.json
!.storybook/*js
.eslintcache
packages/integrations/test-integration-drupal/designbook
packages/integrations/test-integration-drupal/components