@import "tailwindcss" prefix(debo);
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

body.sb-show-preparing-docs {
  font-size: 10px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

#root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}
